.bio {
  margin: 20px;
  text-align: justify;
}

.top-space {
  margin-top: 25px;
}

.my-nav {
  list-style: none;
}
.my-name{
  float: right;
}
.face {
  margin: 20px;
  height: 200px;
  width: 200px;
  float: left;
}


/* .project {
  height:150px;
  width:200px;
  margin: 10px;
  z-index: -1;
} */

.email {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 15px;
  left: 160px;
}

.very-high {
  height: 100%;
}

.footer {
  background-color: gray;
  height: 69.5px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color:white;
  line-height: 50px;
  position:absolute;
  bottom: 0;
  width:100%;
}
.space-from-footer {
  margin-bottom: 100px;
}

.wrapping {
  min-height:100vh;
  position:relative;
}
/* .copyright-text {
  margin-top:20px;
} */

.prof-icons {
  float: right;
  margin-left: 20px;
  width: 48px;
  height: 48px;
}

.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 99999 ;
}
