p {
  text-align: center;
}

.smallPic {
  max-width: 40%;
  max-height: 200px;
  border-radius: 6px;
}

/* ------------------------ Possible Stuff ------------------------ */
/*
.footer {
  background-color: gray;
  height: 69.5px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color:white;
  line-height: 50px;
  position:absolute;
  bottom: 0;
  width:100%;
}

.space-from-footer {
  margin-bottom: 100px;
}

.wrapping {
  min-height:100vh;
  position:relative;
}

 .copyright-text {
  margin-top:20px;
}
*/